<%= simple_form_for [@survey, @grade], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= @survey.name %></legend>

    <ol>
      <% @questions.each do |question| %>
        <%= simple_fields_for "questions[#{question.id}]" do |builder| %>
            <li>
              <%= builder.input :answer, :collection => question.answers, :as => :radio_buttons,
                   :label_method => :content, :value_method => :id, :label => question.content %>
            </li>
        <% end %>
      <% end %>
    </ol>

    <div class="form-actions">
      <%= f.submit "Submit Exam", :class => "btn btn-primary" %>
      <%= link_to "Cancel", surveys_path(), :class=>"btn" %>
    </div>
  </fieldset>
<% end %>