<main>
  <header class="page-header">
<h2>결과 : <%= @survey.name %></h2>
<% @grade.each do |grade| %>
<%= grade.user.try(:username) %>님의 평가 결과는
<%= grade.average_grade %>
<br \>
<% end %>

</header>
<ol>
  <% for question in @survey.questions %>
  <li><%= h question.content %> </li>
  <ul>
     <% for answer in question.answers %>
      <li>	<%= h answer.content %>
	<% if answer.correct == true %>
		<i class="icon-ok icon-green"></i>
	<% end %>
      </li>
    <% end %>
  </ul>
  <% end %>
</ol>