<h4>사용자 정보 수정</h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <label class="control-label">사용자 이름</label>
    <div class="controls">
      <%= f.text_field :username, :autofocus => true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="control-group">
    <label class="control-label">이메일</label>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">비밀번호</label>
    <i>(비밀번호 변경을 원치 않으면 빈 칸으로 놔두세요.)</i>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">비밀번호 확인</label>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">현재 비밀번호</label>
    <i>(비밀번호를 변경하려면 현재 설정되어 있는 비빌번호를 입력하세요.)</i>
    <div class="controls">
      <%= f.password_field :current_password %>
    </div>
  </div>

  <div><%= f.submit "사용자 정보 수정" %></div>
  
<% end %>

<h4>사용자 계정 삭제</h4>

<p>사용자 계정을 삭제하시겠습니까?<%= button_to "사용자 계정 삭제 ", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
