<h2>사용자 등록</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <label class="control-label">사용자 이름</label>
    <div class="controls">
      <%= f.text_field :username, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">이메일</label>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">비밀번호</label>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">비밀번호 확인</label>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
<!--
  <div class="control-group">
    <label class="control-label">Role</label>
-->

  <div><%= f.submit "사용자등록" %></div>
<% end %>

<%= render "devise/shared/links" %>
