<p class="fields offset1">
  <%= f.input :correct %>
  <%= f.hidden_field :_destroy %>

  <%= f.label :content, "Answer" %>
  <%= f.text_field :content %>
  <%= link_to_remove_fields "remove", f %>
</p>

