<h1><%= @survey.name %></h1>
 <%= form_tag({:controller => "surveys", :action => "grading"}) do %>
  <ol class="questions">
   <% @survey.questions.each do |question| %>
   <li>
   <%= question.content %>
     <ol class="answers">
     <% question.answers.each do |answer| %>
      <li>
       <%= check_box(answer.user_answer, answer)  %>
        <%= label("answer_".concat(answer.id.to_s).to_sym, answer.content) %>
      </li>
     <% end %>
     </ol>
   </li>
   <% end %>
  </ol>

  <div><%= submit_tag("Submit", :class => "submit") %></div>
<% end %>