<div class="container">

  <div class="row">

        <div class="span8">

 

<table class="table table-striped">
  <thead>
    <tr>
      <th>번호</th>
      <th >제목</th>
      <th>글쓴이</th>
      <th>날짜</th>
      <th><% if can? :manage, @posts %><% end %></th>
    </tr>
  </thead> 
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td>
          <strong><%= post.category.try(:name) %></strong>
          <%= link_to post.title, post_path(post) %>
          <% if post.comments.size > 0 %>
            <span class="badge"><%= post.comments.size %></span>
            <% end %>
</td>
        <td><%= post.user.username %></td>
        <td><%= post.created_at.strftime("%y.%m.%d") %></td>
        <td>
          <% if can? :edit, post %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, post %>
          <%= link_to t('.destroy', :default => t("helpers<.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

              <%= will_paginate @posts, :renderer => 'BootstrapPagination::Rails' %><!-- pagination -->

              <%= form_tag posts_path, :class => "form-search", :method => 'get', :id => "posts_search" do %>
                <div class="input-append">
                  <%= text_field_tag :search, params[:search], :class => "search-query"  %>
                  <%= submit_tag "Search", :name => nil, :class => "btn" %>
                </div>

                <%= link_to t('.new', :default => t("helpers.links.new")),
               new_post_path, :class => 'btn  btn-primary' %>

              <% end %><!-- search -->

       
        </div><!-- end main area -->

          <aside class="span4">
          
            <div class="row">
            

              <div class="widget span4">
                <h3>공지사항</h3>

 <% @posts.each do |post| %>

 <% if post.category_id == 1 %>
<p>
          <%= link_to post.title, post_path(post) %>
 </p>
  <% end %>

<% end %>

              </div><!-- end widget -->

              <div class="widget span4">
                <h3>최근 수업영상</h3>

 <% @casts.each do |cast| %>
<p>
          <%= link_to cast.title, cast_path(cast) %>
 </p>

<% end %>


            </div><!-- end widget row -->
          </aside><!-- end sidebar -->

  </div>
</div><!-- end container -->

