<%= form_for @cast, :html => { :class => 'form-horizontal' } do |f| %>

<div class="container">

  <div class="row">

    <div class="span4">

      <div class="control-group">
        <label class="control-label">학년/학기</label>
        <div class="controls">
        <%= f.select :grade_semester, options_for_select([['공통', 1], ['5학년1학기', 2], ['5학년2학기', 3], ['6학년1학기', 4], ['6학년2학기', 5]]) %>

        </div>
      </div>

      <div class="control-group">
        <label class="control-label">단원</label>
        <div class="controls">
          <%= f.text_field :chapter %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">주제</label>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :video_link, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :video_link, :class => 'text_field' %>
        </div>
      </div>
  
    </div>

    <div class="span4 offset1">

        <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_area', :rows => '9' %>
        </div>
      </div>

    </div>

  </div><!-- end container row -->

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                casts_path, :class => 'btn' %>
  </div>

</div><!-- end container -->

<% end %>
