<%- model_class = Cast -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @cast.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @cast.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video_link) %>:</strong></dt>
  <dd><%= @cast.video_link %></dd>
</dl>

<div class="video-container">
	<iframe width="560" height="315" src="//www.youtube.com/embed/<%= @cast.video_link.split('/').last %>" frameborder="0" allowfullscreen></iframe>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              casts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cast_path(@cast), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cast_path(@cast),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
