<!DOCTYPE html>
<html>
<head>
  <title>ClassCasts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
  <div class="leaderboard">  
    <h1>ClassCasts</h1>  
</div>  

<div class="navbar navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "쑥쑥오름교실", root_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "수업영상", casts_path %></li>
          <li><%= link_to "게시판", posts_path %></li>
          <li><%= link_to "확인문제", surveys_path %></li>
        </ul>
          <%= render 'layouts/navigation' %>
      </div>
 
    </div>
  </div>
</div>


<div id="flash-banner">
  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => "flash " + key.to_s, :id => key.to_s + "-message" %>
    <%= content_tag :script, :type => "text/javascript" do %>
      $('#<%= key.to_s + "-message" %>').css('display', 'none');
      $('#<%= key.to_s + "-message" %>').slideDown().delay(1000).slideUp();
    <% end %>
  <% end %>
</div>



  <%= yield %>



</body>

<footer>  
        <%= debug(params) if Rails.env.development? %>

<p>© ClassCasts 2013</p>  
</footer>  
</html>
